@tailwind base;
@tailwind components;
@tailwind utilities;



.cursor-pointer.active {
  font-weight: bold;
}

.cursor-pointer:not(.active) {
  opacity: 0.5;
}

.move{
  padding-left: 20px;
  transition: padding-left 0.3s ease;
}