@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #E8E8E8;
}

.cursor-pointer.active {
  font-weight: bold;
}

.cursor-pointer:not(.active) {
  opacity: 0.5;
}

.move{
  padding-left: 10vw;
  transition: padding-left 0.3s ease;
}