@tailwind base;
@tailwind components;
@tailwind utilities;


.move-right {
  transition: padding-left 0.3s ease;
}

.cursor-pointer.active {
  font-weight: bold;
}

.cursor-pointer:not(.active) {
  opacity: 0.5;
}

.move-right span {
  padding-left: 10px; 
}